@{
    ViewData["Title"] = "Document App";
}

<h1>Document App</h1>

<p>
    <a asp-action="Create" asp-controller="Document" asp-route-category="1" asp-route-documentName="NewDocument">Create New DevOps Document</a>
</p>

<p>
    <a asp-action="Create" asp-controller="Document" asp-route-category="2" asp-route-documentName="NewDocument">Create New Ansible Document</a>
</p>

<p>
    <a asp-action="Create" asp-controller="Document" asp-route-category="3" asp-route-documentName="NewDocument">Create New Linux Document</a>
</p>
